<a href="https://colab.research.google.com/github/som-cs/Collapsar/blob/master/day1.0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print("qwertyuiop") # we can type anything inside double quotes ("")

qwertyuiop

In [7]:
#sdfghdksjhlkfjgd

In [19]:
my_name = "Pallavi" #Can not start with a number
# it can start with any letter or '_'
# we can use both capital and small letters
# number can be used anywhere except the 1st position
print("Hello " + my_name)

Hello Pallavi

In [22]:
my_name = input("What is your name: ")
# input("Print before input")
print("Hello " + my_name)

What is your name: so
Hello so

In [32]:
a = int(input("Enter you age: "))
print(type(a))
print(f"Last year you were {123-12}")

Enter you age: 20
<class 'int'>
Last year you were 111

In [ ]:
# String Integer Boolean Float
# string: anything inside ""
# integer: -infinity to +infinity 
# boolean: True or False
# float: any decimal number

In [ ]:
# Ask user his name, age, year of graduation and ask in which year he started college. 
# and print his name, age, year he started college in, his age when he was in 1st year
# and year of graduation.